.Container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.Columns {
  display: flex;
  gap: 20px;
}

.Column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.Card {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  min-width: 180px;
  min-height: 100px;
}

.Card > .Title {
  border-bottom: 1px solid white;
  padding: 8px;
}

.Card > .List {
  color: var(--gray);
  padding: 8px;

  p {
    width: fit-content;
    color: var(--gray);
  }
}
