@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Code";
  color: white;
  background-color: var(--background-color);
  font-size: 16px;
  scroll-behavior: smooth;
}

html {
  display: flex;
  justify-content: center;
}

body {
  max-width: 1200px;
}

:root {
  --primary-color: #c778dd;
  --background-color: #282c33;
  --gray: #abb2bf;
}

::selection {
  background-color: var(--primary-color);
  color: white;
}
