.Banner {
  width: 100%;
  min-height: 420px;
  display: flex;
}

.Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  max-width: 450px;
}

.Title {
  font-size: 32px;
}

.Title > span {
  color: var(--primary-color);
  font-size: 32px;
}

.Description {
  color: var(--gray);
}

.ContactButton {
  width: 150px;
  height: 40px;
  border: 1px solid var(--primary-color);
  background-color: inherit;
  cursor: pointer;
}
